<ng-container [formGroup]="form">
  <mat-form-field class="test" appearance="outline">
    <mat-label>hasło</mat-label>
    <input matInput placeholder="przykładowe hasło"
           formControlName="password"
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error class="pb-2" *ngIf="form.get('password')?.invalid
                && form.get('password')?.touched">
      <app-error-message [controls]="form.get('password')"></app-error-message>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>powtórz hasło</mat-label>
    <input matInput placeholder="powtórz hasło"
           formControlName="repeatPassword"
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.hasError('invalidMatchPassword') || form.get('repeatPassword')?.invalid">
      <app-error-message [controls]="form.get('repeatPassword')"></app-error-message>
    </mat-error>
  </mat-form-field>
</ng-container>
