<button mat-button class="nav-link text-light text-center"  aria-labelledby="basket" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
  <mat-icon matBadge="{{basketAmount}}" matBadgeHidden="{{!basketAmount}}"  matBadgeColor="warn" matBadgePosition="below after" matBadgeSize="small" class="w-auto h-auto fs-3">shopping_cart</mat-icon>
</button>
<ul class="dropdown-menu dropdown-menu-end align-content-center pb-0 pt-0 rounded-1" id="basket" >
    <div class="d-block bsk-tab-min">
      <div class="modal-body container bsk-row-min mt-2">

          <ng-container *ngIf="!basketAmount">
            <li class="text-center align-content-center fs-4 fw-bold text-secondary">Twój koszyk jest pusty</li>
          </ng-container>

        <ng-container>
          <div *ngFor="let basketItem of basketItems | slice:0:3">

            <app-basket-item-list-mini [basketItem]="basketItem" (remove)="removeItem($event)"></app-basket-item-list-mini>

          </div>
          <ng-container *ngIf="basketItems.length > 3">
            <div class="btn w-100 mb-3 pb-3 text-center align-content-center fs-4 fw-bold text-secondary border-bottom" (click)="onClose()" routerLink="/basket" > ...</div>
          </ng-container>
          <div class="d-flex pb-1">
            <div class="container d-block text-wrap fw-bold fs-7">Łączna wartość produktów: </div>
            <div class="text-end text-nowrap fw-bold pe-1">{{totalPrice | currency :'zł':'code'}}</div>
          </div>
          <div class="m-2 d-flex" *ngIf="basketItems.length">
            <button class="container me-2" (click)="onClose()" routerLink="/basket" mat-stroked-button color="primary" style="border-width: 2px; border-color: #3F51B5">POKAŻ KOSZYK</button>
            <button class="container ms-2" (click)="onClose()" mat-raised-button color="primary">DO KASY</button>
          </div>
        </ng-container>
      </div>
    </div>
</ul>




