<ng-container *ngIf="!basketAmount">
  <div class="text-center align-content-center fs-4 fw-bold text-secondary">Twój koszyk jest pusty</div>
</ng-container>
<ng-container *ngIf="basketAmount">
  <div class="overflow-auto container row">

      <div class="me-5 mt-2 col">
        <div *ngFor="let basketItem of basketItems; index as i">
          <app-basket-list-item [basketItem]="basketItem" (quantityFeedback)="quantityActualization($event, basketItem.products.id)" (removeItem)="removeItem(basketItem.products.id)"></app-basket-list-item>
        </div>
      </div>

      <app-summary-tab class="me-4 col"></app-summary-tab>

  </div>
</ng-container>


